{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>New Words Training</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'eng_app/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<!--<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/vendor/animate/animate.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'eng_app/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>

	<!--
		word:
			english
			italian
			sentence
			correct
			wrong
	-->
	<div class="main-container">
		<div class="wrap-container100">
			<div class="container100-div">
				<span class="container100-div-title">
					New Words Training!
				</span>

				<div class="wrap-input100">
					{% block content %} {% endblock %}
				</div>
				<div class= "content-to-hide content-to-hide-correct">
					<div class="main-container-form-btn">
						<div class="wrap-container100-div-btn">
							<div class="container100-div-bgbtn"></div>
							<button class="container100-div-btn">
								<span>
									Submit
									<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
								</span>
							</button>
						</div>
					</div>
					<div class="main-container-form-btn">
						<button class="skip-btn">
								<span class="skip-btn-span">
									Skip
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
								</span>
						</button>
						<button class="show-solution-btn">
								<span class="show-solution-btn-span">
									Show Solution
								<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
								</span>
						</button>
						<a href="https://datastudio.google.com/open/1btKiOu7NUxYRpSq82r5ZnoaMRwxpDIVV">View Stats</a>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--===============================================================================================-->
	<script src="{% static 'eng_app/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'eng_app/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'eng_app/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'eng_app/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

<!--===============================================================================================-->
	<script src="{% static 'eng_app/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'eng_app/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'eng_app/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'eng_app/js/main.js' %}"></script>
</body>
</html>



<script type="text/javascript">

	var numberOfwords = '{{ numberOfwords }}';
	var htmlWords = "{{ words }}";
	words = htmlWords.split("&#39;").join('"');
	words = JSON.parse(words);
</script>
