{% extends "eng_app/common-template.html" %}
{% block content %}
{% load static %}

	<span class="audio-span">
		<button type="button" class="btn btn-default btn-circle btn-lg audio-btn">
			<i class="glyphicon glyphicon-volume-up"></i>
		</button>
		<audio id="myAudioElement" />
	</span>
	<span class="label-input100 english">{{ word.english }}</span>
	<span class="label-sample-sentence-input100 sentence">{{ word.sentence }}</span>
	<div class="content-to-hide">
		<input class="input100 user-input" type="text" name="input-translation" placeholder="Enter Italian Translation">
		<input class="input100" type="hidden" name="correct-translation">
		<input class="input100" type="hidden" name="correct-score">
		<input class="input100" type="hidden" name="wrong-score">
		<input class="input100" type="hidden" name="row">
		<input class="input100" type="hidden" name="words" value="{{ words }}">
	</div>
	<div class="content-to-show">
		<div class="text-solution"></div>
		<button class="skip-btn">
			<span class="next-btn-span">
				Next
			<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
			</span>
		</button>
	</div>
	<div class="content-to-show-correct">
		<button class="skip-btn">
			<span class="next-btn-span">
				Next
			<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
			</span>
		</button>
	</div>

	<script type="text/javascript">

	var numberOfwords = '{{ numberOfwords }}';
	var htmlWords = "{{ words }}";
	words = htmlWords.split("&#39;").join('"');
	words = JSON.parse(words);
</script>
<script src="{% static 'eng_app/js/main.js' %}"></script>

{% endblock content %}
